<body>
    <h1>Welcome to the home page</h1>
    <h3 class="title">This is an end-to-end application. This project features pipelines for data ingestion, data transformation, prediction, application event logs, and more.</h3>
    <p>The purpose of the application is to predict a student's performance in a math exam.</p>

    <a href="/predictdata">Go to the predict page</a>
</body>



<style>
    body{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items:center;
    }
    a{
        text-decoration: none;
        color: white;
        padding: 5px;
        background-color: green;
        border-radius: 3px;
    }

    .title{
        color: #ffff00d3;
    }

</style>